<div class="contact-footer">

  <div class="contact-footer-links text-center">
    <ul>
      <li><%= link_to "contact@itmes.fr" %></li>
      <br>
      <li><%= link_to "Laissez-nous votre contact" %></li>
    </ul>
  </div>

</div>

