<div class="navbar_itmes">
  <ul>
    <li>
      acceuil
    </li>
    <li>
      entreprise
    </li>
    <li>
      technologie
    </li>
    <li>
      intervention sur site
    </li>
    <li>
      Surveillance
    </li>
    <li>
      Pièces de rechange
    </li>
    <li>
      Formation
    </li>
    <li>
      Contact
    </li>
  </ul>
</div>

<p class="text-center">
  bonjour
</p>
