.contact-footer {
  background: #FE0B22;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  min-width: 100%;
  padding: 0px 50px;
  color: #F9F9F9;
  position: absolute;
  bottom: 80px;
}

.contact-footer-links {
  display: flex;
  align-items: center;
}

.contact-footer-links a {
  color: #F9F9F9;
  opacity: 0.8;
  text-decoration: none;
  font-size: 14px;
  padding: 0px 10px;
}

.contact-footer-links a:hover {
  opacity: 1;
}
