.navbar_itmes ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  color: white;
}

.navbar_itmes {
  background-color: #181760;
  height: 7vh;
}



.navbar_itmes ul li {
  border-left: 1px solid white;
  padding: 10px;
}
